1. Write a Python program to rearrange positive and negative numbers in a given list using Lambda and map()

Sample output:
    original_list = [-1,-2,-3,4,-5,6,-7,8,-9,10,-11,12]
    resulting_list = [2,4,6,8,10,12,-11,-7,-5,-3,-1]

In [1]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = list(filter(lambda x: x>0, original_list)) + sorted(list(filter(lambda x: x<0, original_list)))

print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

2. Create a new dataframe using Week_11 temperature.csv from last class. It should have datetime column and one of the cities. Create a new boolean column called is_freezng that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [34]:
import pandas as pd
df = pd.read_csv("../Week_11/weather/temperature.csv")
df1 = df.loc[:, ('datetime','Phoenix')]
df1['is_freezing'] = df1.apply(lambda row: True if row.Phoenix  <= 273.15 else False, axis = 1)

df1.sort_values(by=['Phoenix'])

# I honestly have no idea if there is a better way to do this than with lambda at the moment.

                  datetime     Phoenix  is_freezing
19778  2015-01-03 14:00:00  266.059000         True
19658  2014-12-29 14:00:00  266.144333         True
19777  2015-01-03 13:00:00  266.181000         True
19657  2014-12-29 13:00:00  266.391667         True
19729  2015-01-01 13:00:00  266.679333         True
...                    ...         ...          ...
41365  2017-06-21 01:00:00  321.150000        False
32578  2016-06-19 22:00:00  321.220000        False
0      2012-10-01 12:00:00         NaN        False
3859   2013-03-11 07:00:00         NaN        False
3860   2013-03-11 08:00:00         NaN        False

[45253 rows x 3 columns]

3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flaf for if it's freezing.