1. Make a function that can take any non-negative integer as an argument and return it with its digits in descending order. Essentially, rearrange the digits to create the highest possible number. If no number is passed in, make the default value inputted = 1111111

Input = 43905  Output = 95430

Input = 584366 Output = 866543

In [20]:
def order(n):
    if type(n) != int:
        print('111111')
    elif n <= 0:
            print("Nope, enter a positive integer that is more than 0")
    else:
        descending = "".join(sorted(str(n), reverse=True)) #changes int to string and uses the string to sort
        print(descending)

order(43905)
order(584366)
order("hi")
order(-1)

95430
866543
111111
Nope, enter a positive integer that is more than 0

2. Import jeopardy.csv and create a dataframe from the data. Find out the following:
    
    a. How many rows are there in the dataframe? What does a row represent?
    
    b. How many unique shows were there each year?
    
    c. Think of another question that this data might help answer. Make that question a header in your notebook.
    
    d. Answer your question and show the steps you used to do so clearly.

In [57]:
#  a. How many rows are there in the dataframe? What does a row represent?

import pandas as pd
import numpy as np
import datetime

jeopardy_df = pd.read_csv('JEOPARDY_CSV.csv')  

row_count = len(jeopardy_df.index)
row_represent = list(jeopardy_df.columns)
print("a. There are ", row_count," rows.")
print("   Each row represents a single incident with information categorized into: ")
print("  ",row_represent)

a. There are  216930  rows.
   Each row represents a single incident with information categorized into:
   ['Show Number', ' Air Date', ' Round', ' Category', ' Value', ' Question', ' Answer']

In [73]:
# b. How many unique shows were there each year?

jeopardy_df['Year'] = pd.DatetimeIndex(jeopardy_df[' Air Date']).year
year_group = jeopardy_df.groupby('Year')
year_group['Show Number'].nunique()

Year
1984     23
1985     16
1986     25
1987     22
1988     22
1989     36
1990     73
1991     24
1992     32
1993     35
1994     19
1995     19
1996     83
1997    221
1998    223
1999    229
2000    225
2001    203
2002    114
2003    158
2004    220
2005    225
2006    230
2007    231
2008    232
2009    226
2010    231
2011    224
2012     19
Name: Show Number, dtype: int64

c. Think of another question that this data might help answer. Make that question a header in your notebook.


### C. What categories have been used, and how many times each?

In [118]:
# d. 

category_df = jeopardy_df.iloc[:,[0,3]]
cat_gp_df = category_df.groupby([' Category','Show Number'], as_index=False)['Show Number'].count()


cat_count_ord = cat_gp_df.sort_values('Show Number', ascending = False)
cat_count_ord.head(57)

                       Category  Show Number
40765          THE SONG DYNASTY           10
31115                  POP QUIZ           10
29918                 PEN NAMES           10
15562               FAMOUS RAYS           10
17642       GENERAL INFORMATION           10
17644         GENERAL KNOWLEDGE           10
33054                   ROCK ME           10
24400       LONG LIVE THE KING!           10
36221               STATE FACTS           10
40945                 THE TEENS           10
15885           FICTION SCIENCE           10
17010         FOUND IN MONGOLIA           10
29921                 PEN NAMES           10
20400           HOUSEHOLD NAMES           10
11571              CLIFFS NOTES           10
44647          WHAT A KNOCKOUT!           10
40874                THE STONES           10
31999          PUT SOMETHING ON           10
30540            PLAYING DOCTOR           10
40849                 THE STARS           10
9538   BREWERS, BUCKS & PACKERS           10
8280                BEHIND BARS           10
22151         IT'S IN ARGENTINA           10
7086        ASSUME THE POSITION           10
10228             CAMPBELL SOUP           10
36510         STOP THAT RACKET!           10
12704            COUNTRY GROUPS           10
31761                   PRODUCE           10
15441             FAMOUS MOUNTS           10
20869         I'M DATING MYSELF           10
18844             HALLS OF FAME           10
14115                     EARLS           10
22994            LANDING AT JFK           10
4528                 ADDRESS ME           10
38670                  THE CARS           10
45831      WORDS FROM GEOGRAPHY           10
9116                  BOGEY MEN           10
6620            AROUND THE CELL           10
29394             ORGAN RECITAL           10
3865              A LOVELY PORT           10
36532            STORY PROBLEMS           10
42047                 TOM JONES           10
2515                       1984           10
2517                       1984           10
24461                  LOST ART           10
10483                CASABLANCA           10
45537          WOMEN OF COUNTRY           10
24593                   MADE UP           10
32878           RICE, RICE BABY           10
40773              THE SOPRANOS           10
17169     FRIENDS WITH BENEFITS           10
39155          THE FIRST PERSON           10
40770              THE SOPRANOS           10
39833       THE MONROE DOCTRINE            9
18008         GETTING DEFENSIVE            8
28178                   NOTIONS            8
24892                  MARXISMS            7